.body {
    width: 100%;
    height: 100%;
}

.canvas {
    display: block;
}

.intermission {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intermission[data-intermission="true"] {
    background-color: rgba(0, 0, 0, 0.4);
}

.intermission > .report {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.intermission[data-intermission="true"] > .report {
    background-color: rgba(255, 255, 255, 0.4);
}

.intermission > .report > h1 {
    margin: 0px;
    visibility: hidden;
}

.intermission[data-intermission="true"] > .report > h1 {
    visibility: visible;
}