.lobby {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://runtimecloud.com/static/media/background.c5c3ad4b6ffef215e37a.png);
    background-size: cover;
    color: #FFFFFF;
    font-family: "JetBrains Mono", monospace;
}

/* fade animation */

.lobby[value-visibility="false"] {
    animation: 1s cubic-bezier(0.55, 0.06, 0.68, 0.19) forwards lobby_fade;
}

.lobby * {
    transition: 1s cubic-bezier(0.55, 0.06, 0.68, 0.19);
}

.lobby[value-visibility="false"] > .logo {
    transform: translateY(-100vh);
}

.lobby[value-visibility="false"] > .connect > input[type="text"] {
    transform: translateX(-100vw);
}

.lobby[value-visibility="false"] > .connect > input[type="button"] {
    transform: translateX(100vw);
}

@keyframes lobby_fade {
    99%  {opacity: 0;}
    100% {visibility: hidden;}
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo > h1 {
    display: flex;
    align-items: flex-end;
}

.logo > h1 > svg {
    margin-right: 30px;
}

.logo > h1, .logo > h1 > span {
    margin: 0px;
    font-size: 92px;
    line-height: 92px;
}

.logo > h1 > span:nth-child(odd) {
    border-bottom: 10px solid #E06C75;
    color: #FFFFFF;
}

.logo > h1 > span:nth-child(even) {
    border-bottom: 10px solid #E06C75;
    color: #E06C75;
}

.lobby > h3 {
    margin: 0px;
    margin-top: 10px;
    font-size: 20px;
    line-height: 20px;
}

.connect {
    margin-top: 80px;
    display: flex;
}

.lobby:not([value-visibility="false"]) > .connect > input {
    transition: none;
}

.connect > input[type="text"] {
    width: 250px;
    height: 40px;
    font-size: 25px;
    line-height: 25px;
    border: 4px solid #000000;
    outline: none;
}

.connect > input[type="button"] {
    margin-left: 10px;
    width: 80px;
    height: 40px;
    font-size: 20px;
    line-height: 20px;
    background-color: #E06C75;
    border: 4px solid #000000;
}

.connect > input[type="button"]:hover {
    filter: brightness(0.9);
}

.connect > input[type="button"]:active {
    filter: brightness(0.7);
}

